.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  height: 100vh;
  width: 100%;
  background-color: #0079c5;
  z-index: 1;
}

.screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 60%;
  width: auto;
  height: 50vh;
  background-color: #e2e2e2;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.icon {
  font-size: 4rem;
  margin-bottom: 0.25rem;
}

.button {
  background-color: #0079c5;
  border: none;
  color: #ffce00;
}

.button:hover {
  background-color: #ffce00;
  border: none;
  color: #0079c5;
}

.close-button {
  width: 1rem;
  background-color: #fff;
  color: #0079c5;
  border: none;
  padding-right: 2rem;
}

.close-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.result-screen-background {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.result-screen {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  min-height: 25vh;
  background-color: white;
  padding: 2rem;
  border-radius: 5%;
}

.result-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    width: auto;
    height: 50vh;
    background-color: #e2e2e2;
  }

  .result-screen {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 40vh;
    background-color: white;
    padding-left: 0;
    padding-right: 0;
    border-radius: 5%;
  }
}

@media screen and (max-width: 300px) {
  .screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    width: auto;
    height: 50vh;
    background-color: #e2e2e2;
  }
}
